# Editors
.vscode

# Grunt
/node_modules/
npm-debug.log

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# Composer
/vendor/
composer.lock
contributors.html

# Languages
/languages/*
!/languages/README.md

# Build & Releases
/build/
/releases/

# Tests
/tests/

# Various file types to ignore when exporting.
*.sh
.gitconfig
*.zip
*.json
*.yml
