# Folders and Grunt
/assets/scss/
/build/
/releases/
/node_modules/
npm-debug.log
/includes/api/experiments
/includes/api/wip
/includes/api/pro-enhancements

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# Various file types to ignore when exporting.
*.sh
.gitconfig
*.zip
*.json
*.yml
