{
	"extends": [
		"stylelint-config-standard-scss"
	],
	"rules": {
		"alpha-value-notation": "number",
		"at-rule-empty-line-before": null,
		"block-no-empty": true,
		"color-function-notation": ["legacy", { "ignore": ["with-var-inside"] }],
		"color-hex-alpha": "never",
		"color-no-invalid-hex": true,
		"declaration-block-no-duplicate-properties": [true, { "severity": "warning" } ],
		"declaration-block-single-line-max-declarations": 1,
		"font-family-name-quotes": null,
		"font-family-no-missing-generic-family-keyword": null,
		"font-weight-notation": null,
		"function-calc-no-unspaced-operator": true,
		"function-name-case": "lower",
		"function-url-quotes": "always",
		"media-feature-range-notation": "prefix",
		"no-descending-specificity": null,
		"no-duplicate-selectors": null,
		"selector-class-pattern": null,
		"selector-id-pattern": null,
		"selector-pseudo-element-colon-notation": "double",
		"selector-pseudo-element-no-unknown": true,
		"selector-type-case": "lower",
		"shorthand-property-no-redundant-values": true,
		"string-no-newline": true,
		"unit-no-unknown": true
	}
}
