<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true">
    <php>
        <const name="COCART_TESTING" value="1" />
    </php>
    <testsuites>
        <testsuite name="CoCart Unit Tests">
            <file>./tests/unit/class-cocart-authentication-test.php</file>
            <file>./tests/unit/class-cocart-authentication-injection-test.php</file>
            <file>./tests/unit/class-cocart-logout-controller-test.php</file>
            <file>./tests/unit/class-cocart-store-controller-test.php</file>
            <directory prefix="class-cocart-" suffix=".php">./tests/unit/v2/cart</directory>
            <directory prefix="class-cocart-" suffix=".php">./tests/unit/v2/products</directory>
            <directory prefix="class-cocart-" suffix=".php">./tests/unit/v2/admin</directory>
        </testsuite>
    </testsuites>
</phpunit>
