// CoCart branding color.
$cocart: #6032b0;
$cocart-hovered: #6131af;
$cocart_button: #5f32d9;
$cocart_button_hovered: #5329c4;

// Misc
$shadow: rgba(0, 0, 0, 0.04);

// Colors
$white: #fff;
$black: rgb(41, 41, 41);
$black-000: #000;
$grey: #555d66;
$light-grey: #e5e5e5;
$red: #c92c2c;
$light-red: #f0a3a3;
$dark-red: #a00;
$green: #4ab866;
$light-green: #eff9f1;
$dark-green: #337f46;
$blue: #008aff;
$yellow: #f1e865;
$orange: #f36d0a;
$light-orange: #f1a165;