// CoCart branding color.
$alnp: #a37aff;

// Misc
$shadow: rgba(0, 0, 0, 0.04);

// Colors
$white: #fff;

$black: rgb(41, 41, 41);
$black-000: #000;

$grey: #555d66;
$lightgrey: #e5e5e5;

$red: #c92c2c;
$lightred: #f0a3a3;
$darkred: #a00;

$green: #4ab866;
$lightgreen: #eff9f1;
$darkgreen: #337f46;

$blue: #008aff;

$yellow: #f1e865;

$orange: #f36d0a;
$lightorange: #f1a165;