# Languages
/languages/*
!/languages/*.pot
!/languages/README.md

# Composer
/vendor/

# Packages
/packages/*
!/packages/README.md

# Various folders and file types to ignore when exporting.
.github/*
.gitconfig
*.zip
*.yml
*.xml
