.wrap.cocart {
  margin-top: 6em; }

.cocart #wpcontent,
.cocart #wpbody-content {
  overflow-x: inherit !important; }

.cocart #wpcontent,
.cocart #wpbody-content {
  padding: 0;
  overflow-x: hidden !important;
  min-height: calc(100vh - 32px); }

.cocart .woocommerce-layout__header-breadcrumbs {
  margin: 0; }

.cocart .woocommerce-layout__header-breadcrumbs span:first-child {
  display: none; }

.cocart .woocommerce-layout__header-breadcrumbs span:nth-child(2)::before {
  content: none; }

.cocart .container {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.04);
  color: #292929;
  margin: 20px auto 40px;
  max-width: 700px;
  text-align: left;
  width: calc(100% - 20px); }
  .cocart .container .content {
    padding: 40px; }
    .cocart .container .content .logo {
      background-color: #6032b0;
      margin: -40px -40px 30px;
      text-align: center; }
    .cocart .container .content h1 {
      color: #23282d;
      font-size: 1.7em;
      font-weight: 700;
      line-height: 1.48;
      margin-bottom: 28px;
      margin-top: 0; }
    .cocart .container .content p {
      color: #333;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 20px; }
    .cocart .container .content ul {
      list-style: disc; }
    .cocart .container .content li {
      margin-left: 12px; }
    .cocart .container .content a.button.button-large,
    .cocart .container .content button.button-large {
      font-size: 24px;
      line-height: 54px;
      height: 60px;
      padding: 0 20px; }
    .cocart .container .content a.button.button-medium,
    .cocart .container .content button.button-medium {
      font-size: 18px;
      font-weight: 600;
      line-height: 36px;
      height: 40px; }
    .cocart .container .content a.button.upgrade {
      background-color: #6032b0;
      border-color: #6032b0;
      color: #fff; }
    .cocart .container .content a.button.upgrade:hover,
    .cocart .container .content a.button.upgrade:focus {
      background-color: #6131af;
      border-color: #6131af; }
    .cocart .container .content p.price-tag {
      font-size: 69px;
      color: #6032b0;
      line-height: 66px;
      font-weight: 700;
      margin: 20px auto;
      text-align: center; }
      .cocart .container .content p.price-tag sub {
        margin-top: 18px;
        display: inline-block;
        font-size: 30px;
        line-height: 8px;
        vertical-align: top;
        margin-right: 2px; }
      .cocart .container .content p.price-tag sup {
        display: inline-block;
        font-size: 18px;
        line-height: 16px;
        vertical-align: bottom;
        margin-left: 2px; }
    .cocart .container .content img.emoji {
      display: inline !important;
      border: none !important;
      height: auto;
      width: 1em;
      margin: 0 0.07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
      box-shadow: none !important; }

.founder-row {
  height: 60px;
  margin-bottom: 2rem; }
  .founder-row .founder-image {
    width: 4.6rem;
    float: left; }
  .founder-row .founder-details {
    float: left;
    width: calc( 100% - 4.6rem); }
    .founder-row .founder-details p {
      margin: 0; }

.cocart-newsletter {
  padding: 24px 24px 0;
  overflow: hidden;
  background: #f5f5f5;
  clear: both; }
  .cocart-newsletter p {
    padding: 0;
    margin: 0 0 12px; }
  .cocart-newsletter form,
  .cocart-newsletter p:last-child {
    margin: 0 0 24px; }

ul.cocart-setup-wizard-next-steps {
  border: 1px solid #eee;
  border-radius: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none outside; }
  ul.cocart-setup-wizard-next-steps h2 {
    margin-bottom: 12px; }
  ul.cocart-setup-wizard-next-steps h3.next-step-description {
    margin: 0;
    font-size: 16px;
    font-weight: 600; }
  ul.cocart-setup-wizard-next-steps li {
    padding: 0; }
    ul.cocart-setup-wizard-next-steps li a {
      display: block;
      padding: 0 0 0.75em; }
    ul.cocart-setup-wizard-next-steps li a::before {
      color: #82878c;
      font: 400 20px/1 dashicons;
      /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
      speak: none;
      display: inline-block;
      padding: 0 10px 0 0;
      top: 1px;
      position: relative;
      text-decoration: none !important;
      vertical-align: top; }
  ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-item {
    display: flex;
    border-top: 1px solid #eee; }
    ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-item:first-child {
      border-top: 0; }
  ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-description {
    flex-grow: 1;
    margin: 1.5em; }
  ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-action {
    flex-grow: 0;
    display: flex;
    align-items: center; }
    ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-action .button {
      margin: 1em 1.5em !important; }
  ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-additional-steps {
    border-top: 1px solid #eee; }
    ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-additional-steps .cocart-setup-wizard-next-step-description {
      margin-bottom: 0; }
    ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-additional-steps .cocart-setup-wizard-actions {
      margin: 0 0 1.5em; }
      ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-additional-steps .cocart-setup-wizard-actions .button {
        font-size: 15px;
        margin: 1em 0 1em 1.5em; }

p.next-steps-help-text {
  color: #9f9f9f !important;
  padding: 0 2em;
  text-align: center;
  font-size: 0.9em !important; }

p.next-step-heading {
  margin: 0 !important;
  font-size: 0.95em;
  font-weight: 400;
  font-variant: all-petite-caps; }

p.next-step-extra-info {
  margin: 0 !important; }

.tweet-share {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap; }

@media only screen and (max-width: 400px) {
  .cocart-newsletter .newsletter-form-container {
    display: block; }
    .cocart-newsletter .newsletter-form-container .newsletter-form-email {
      display: block;
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 10px; }
    .cocart-newsletter .newsletter-form-container .button.newsletter-form-button {
      float: left; }
  .cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-item {
    flex-wrap: wrap; }
    .cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-item .cocart-setup-wizard-next-step-description {
      margin-bottom: 0; }
    .cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-item .cocart-setup-wizard-next-step-action p {
      margin: 0; } }

.notice.inline.notice-cocart {
  border-color: #6032b0; }
  .notice.inline.notice-cocart p.cart::before {
    color: #6032b0;
    content: '\f174';
    display: inline-block;
    font: normal 20px/1 'dashicons';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top; }

.notice.cocart-notice {
  border-color: #6032b0;
  padding: 20px !important; }

.notice.cocart-notice .no-thanks {
  display: block;
  margin-top: 10px; }
  .notice.cocart-notice .no-thanks a {
    color: #72777c;
    text-decoration: none; }
  .notice.cocart-notice .no-thanks a:hover {
    color: #444; }

.notice.cocart-notice p {
  padding: 0;
  margin: 0; }

.notice.cocart-notice h3 {
  margin: 0 0 5px; }

.notice.cocart-notice .cocart-action {
  float: right;
  text-align: center; }

.notice.cocart-notice .cocart-action .cocart-button {
  height: auto;
  line-height: 20px;
  padding: 6px 50px; }

.notice.cocart-notice .cocart-notice-inner {
  display: table;
  width: 100%; }
  .notice.cocart-notice .cocart-notice-inner .cocart-notice-icon,
  .notice.cocart-notice .cocart-notice-inner .cocart-notice-content,
  .notice.cocart-notice .cocart-notice-inner .cocart-review-now,
  .notice.cocart-notice .cocart-notice-inner .cocart-send-feedback {
    display: table-cell;
    vertical-align: middle; }

.notice.cocart-notice .cocart-notice-content {
  padding: 0 6% 0 20px; }

.notice .cocart-notice-icon {
  color: #509ed2;
  font-size: 50px;
  width: 60px; }
  .notice .cocart-notice-icon img {
    font-size: 0;
    width: 64px; }

body.cocart .notice,
body.cocart .updated,
body.cocart .error {
  display: none; }

@media (max-width: 767px) {
  .notice.cocart-notice .cocart-notice-inner {
    display: block; }
  .notice.cocart-notice {
    padding: 20px !important; }
  .notice.cocart-notice .cocart-notice-inner .cocart-notice-content {
    display: block;
    padding: 0; }
  .notice.cocart-notice .cocart-notice-inner .cocart-notice-icon {
    display: none; }
  .notice.cocart-notice .cocart-notice-inner .cocart-action {
    margin-top: 20px;
    display: block;
    text-align: left; }
  .notice.cocart-notice .cocart-notice-inner .no-thanks {
    display: inline-block;
    margin-left: 15px; } }
