.founder-row {
  height: 60px;
  margin-bottom: 2rem; }
  .founder-row .founder-image {
    width: 4.6rem;
    float: right; }
  .founder-row .founder-details {
    float: right;
    width: calc( 100% - 4.6rem); }
    .founder-row .founder-details p {
      margin: 0; }

.cocart-newsletter {
  padding: 24px 24px 0;
  overflow: hidden;
  background: #f5f5f5;
  clear: both; }
  .cocart-newsletter p {
    padding: 0;
    margin: 0 0 12px; }
  .cocart-newsletter form,
  .cocart-newsletter p:last-child {
    margin: 0 0 24px; }

ul.cocart-setup-wizard-next-steps {
  border: 1px solid #eee;
  border-radius: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none outside; }
  ul.cocart-setup-wizard-next-steps h2 {
    margin-bottom: 12px; }
  ul.cocart-setup-wizard-next-steps h3.next-step-description {
    margin: 0;
    font-size: 16px;
    font-weight: 600; }
  ul.cocart-setup-wizard-next-steps li {
    padding: 0; }
    ul.cocart-setup-wizard-next-steps li a {
      display: block;
      padding: 0 0 0.75em; }
    ul.cocart-setup-wizard-next-steps li a::before {
      color: #82878c;
      font: 400 20px/1 dashicons;
      /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
      speak: none;
      display: inline-block;
      padding: 0 0 0 10px;
      top: 1px;
      position: relative;
      text-decoration: none !important;
      vertical-align: top; }
  ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-item {
    display: flex;
    border-top: 1px solid #eee; }
    ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-item:first-child {
      border-top: 0; }
  ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-description {
    flex-grow: 1;
    margin: 1.5em; }
  ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-action {
    flex-grow: 0;
    display: flex;
    align-items: center; }
    ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-action .button {
      margin: 1em 1.5em !important; }
  ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-additional-steps {
    border-top: 1px solid #eee; }
    ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-additional-steps .cocart-setup-wizard-next-step-description {
      margin-bottom: 0; }
    ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-additional-steps .cocart-setup-wizard-actions {
      margin: 0 0 1.5em; }
      ul.cocart-setup-wizard-next-steps .cocart-setup-wizard-additional-steps .cocart-setup-wizard-actions .button {
        font-size: 15px;
        margin: 1em 1.5em 1em 0; }

p.next-steps-help-text {
  color: #9f9f9f !important;
  padding: 0 2em;
  text-align: center;
  font-size: 0.9em !important; }

p.next-step-heading {
  margin: 0 !important;
  font-size: 0.95em;
  font-weight: 400;
  font-variant: all-petite-caps; }

p.next-step-extra-info {
  margin: 0 !important; }

.tweet-share {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap; }

@media only screen and (max-width: 400px) {
  .cocart-newsletter .newsletter-form-container {
    display: block; }
    .cocart-newsletter .newsletter-form-container .newsletter-form-email {
      display: block;
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 10px; }
    .cocart-newsletter .newsletter-form-container .button.newsletter-form-button {
      float: right; }
  .cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-item {
    flex-wrap: wrap; }
    .cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-item .cocart-setup-wizard-next-step-description {
      margin-bottom: 0; }
    .cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-item .cocart-setup-wizard-next-step-action p {
      margin: 0; } }

body {
  margin: 65px auto 24px;
  box-shadow: none;
  background: #f1f1f1;
  padding: 0; }

.cocart-logo {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: center; }

.cocart-setup-wizard {
  text-align: center; }
  .cocart-setup-wizard .hidden {
    display: none; }

.cocart-setup-wizard-content {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  padding: 2em;
  margin: 0 0 20px;
  background: #fff;
  overflow: hidden;
  zoom: 1;
  text-align: right; }
  .cocart-setup-wizard-content h1,
  .cocart-setup-wizard-content h2,
  .cocart-setup-wizard-content h3,
  .cocart-setup-wizard-content table {
    margin: 0 0 20px;
    border: 0;
    padding: 0;
    color: #666;
    clear: none;
    font-weight: 500; }
  .cocart-setup-wizard-content p {
    margin: 20px 0;
    font-size: 1em;
    line-height: 1.75;
    color: #666; }
  .cocart-setup-wizard-content p:first-of-type {
    margin-top: 0; }
  .cocart-setup-wizard-content p:last-child {
    margin-bottom: 0; }
  .cocart-setup-wizard-content table {
    font-size: 1em;
    line-height: 1.75;
    color: #666; }
  .cocart-setup-wizard-content a {
    color: #6032b0; }
    .cocart-setup-wizard-content a:hover, .cocart-setup-wizard-content a:focus {
      color: #111; }
  .cocart-setup-wizard-content .form-table th {
    width: 35%;
    vertical-align: top;
    font-weight: 400; }
  .cocart-setup-wizard-content .form-table td {
    vertical-align: top; }
    .cocart-setup-wizard-content .form-table td select,
    .cocart-setup-wizard-content .form-table td input {
      width: 100%;
      box-sizing: border-box; }
    .cocart-setup-wizard-content .form-table td input[size] {
      width: auto; }
    .cocart-setup-wizard-content .form-table td .description {
      line-height: 1.5;
      display: block;
      margin-top: 0.25em;
      color: #999;
      font-style: italic; }
    .cocart-setup-wizard-content .form-table td .input-checkbox,
    .cocart-setup-wizard-content .form-table td .input-radio {
      width: auto;
      box-sizing: inherit;
      padding: inherit;
      margin: 0 0 0 0.5em;
      box-shadow: none; }
  .cocart-setup-wizard-content .form-table th,
  .cocart-setup-wizard-content .form-table td {
    padding: 12px 0;
    margin: 0;
    border: 0; }
    .cocart-setup-wizard-content .form-table th:first-child,
    .cocart-setup-wizard-content .form-table td:first-child {
      padding-left: 1em; }
  @media screen and (max-width: 782px) {
    .cocart-setup-wizard-content .form-table tbody th {
      width: auto; } }

.cocart-setup-wizard-steps {
  padding: 0 0 24px;
  margin: 0;
  list-style: none outside;
  overflow: hidden;
  color: #ccc;
  width: 100%;
  display: inline-flex; }
  .cocart-setup-wizard-steps li {
    width: 100%;
    float: right;
    padding: 0 0 0.8em;
    margin: 0;
    text-align: center;
    position: relative;
    border-bottom: 4px solid #ccc;
    line-height: 1.4; }
    .cocart-setup-wizard-steps li a {
      color: #6032b0;
      text-decoration: none;
      padding: 1.5em;
      margin: -1.5em;
      position: relative;
      z-index: 1; }
      .cocart-setup-wizard-steps li a:hover, .cocart-setup-wizard-steps li a:focus {
        color: #111;
        text-decoration: underline; }
  .cocart-setup-wizard-steps li::before {
    content: '';
    border: 4px solid #ccc;
    border-radius: 100%;
    width: 4px;
    height: 4px;
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -6px;
    margin-bottom: -8px;
    background: #fff; }
  .cocart-setup-wizard-steps li.active {
    border-color: #6032b0;
    color: #6032b0;
    font-weight: 700; }
    .cocart-setup-wizard-steps li.active::before {
      border-color: #6032b0; }
  .cocart-setup-wizard-steps li.done {
    border-color: #6032b0;
    color: #6032b0; }
    .cocart-setup-wizard-steps li.done::before {
      border-color: #6032b0;
      background: #6032b0; }

.cocart-setup-wizard .cocart-setup-wizard-actions {
  overflow: hidden;
  margin: 20px 0 0;
  position: relative; }
  .cocart-setup-wizard .cocart-setup-wizard-actions .button {
    font-weight: 300;
    font-size: 16px;
    padding: 1em 2em;
    box-shadow: none;
    min-width: 12em;
    margin-top: 10px;
    line-height: 1;
    margin-left: 0.5em;
    margin-bottom: 2px;
    height: auto;
    border-radius: 4px; }
    .cocart-setup-wizard .cocart-setup-wizard-actions .button:focus, .cocart-setup-wizard .cocart-setup-wizard-actions .button:hover, .cocart-setup-wizard .cocart-setup-wizard-actions .button:active {
      box-shadow: none; }
    .cocart-setup-wizard .cocart-setup-wizard-actions .button.button-primary {
      margin: 0;
      opacity: 1; }

.cocart-setup-wizard-footer-links {
  font-size: 0.85em;
  color: #7b7b7b;
  margin: 1.18em auto;
  display: flow-root;
  text-align: center; }

.hide {
  display: none; }

.step {
  text-align: center; }

label {
  color: #666;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 0.85em;
  display: inline-block; }

.select-input {
  border: 1px solid #aaa;
  border-color: #ddd;
  border-radius: 4px;
  height: 30px;
  width: calc(100% - 8px - 8px - 2px);
  padding-right: 8px;
  padding-left: 8px;
  font-size: 16px;
  color: #444;
  background-color: #fff;
  display: block; }
  .select-input.dropdown {
    width: 100%;
    max-width: 100%; }

.newsletter-form-container {
  display: flex; }
  .newsletter-form-container .newsletter-form-email {
    border: 1px solid #aaa;
    border-color: #ddd;
    border-radius: 4px;
    height: 42px;
    padding: 0 8px;
    font-size: 16px;
    color: #666;
    background-color: #fff;
    display: inline-block;
    margin-left: 6px;
    flex-grow: 1; }
  .newsletter-form-container .newsletter-form-button-container {
    flex-grow: 0; }

.cocart-setup-wizard .cocart-setup-wizard-actions .button.newsletter-form-button {
  height: 42px;
  padding: 0 1em;
  margin: 0; }

.cocart-error {
  background: #ffe6e5;
  border-color: #ffc5c2;
  padding: 1em;
  margin-bottom: 1em; }
  .cocart-error p {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #444; }
  .cocart-error a {
    color: #ff645c; }
  .cocart-error .cocart-setup-wizard-actions .button {
    font-size: 14px; }

@media only screen and (max-width: 400px) {
  .cocart-logo img {
    max-width: 80%; }
  .cocart-setup-wizard-steps {
    display: none; } }
