body.cocart-plugin-install .plugin-card {
  border: 1px solid #6032b0; }
  body.cocart-plugin-install .plugin-card h3 {
    margin: 0 0 4px; }
  body.cocart-plugin-install .plugin-card .plugin-card-top {
    min-height: 150px; }
  body.cocart-plugin-install .plugin-card .name, body.cocart-plugin-install .plugin-card .desc {
    margin-right: 120px !important; }
  body.cocart-plugin-install .plugin-card .plugin-card-bottom {
    min-height: 36px; }

.plugin-card .plugin-card-bottom .plugin-requirement {
  float: right;
  clear: right; }

.plugin-card.plugin-card-cocart-plugin-search {
  border: 2px solid #6032b0; }

.plugin-card-cocart-plugin-search h3 {
  margin: 0 0 4px; }

.plugin-card-cocart-plugin-search .column-name,
.plugin-card-cocart-plugin-search .column-description {
  margin-right: 20px; }

.plugin-card-cocart-plugin-search .action-links {
  overflow: auto;
  position: static; }

.plugin-card-cocart-plugin-search .plugin-action-buttons {
  margin: 0;
  width: 100%;
  text-align: left;
  white-space: nowrap; }

@media screen and (max-width: 1100px) and (min-width: 782px), (max-width: 480px) {
  .plugin-card-cocart-plugin-search .action-links {
    margin-left: 0; } }

.plugin-card .plugin-action-buttons .cocart-plugin-search__learn-more .dashicons,
.plugin-card .plugin-action-buttons .cocart-plugin-search__learn-more .dashicons-before::before {
  font-size: inherit;
  line-height: inherit; }

.plugin-card .plugin-action-buttons .cocart-plugin-primary {
  background: #6032b0;
  border-color: #9b50e3;
  color: #fff;
  box-shadow: 0 1px 0 #d8c3e2; }

.plugin-card .plugin-action-buttons .cocart-plugin-primary:hover {
  background: #9b50e3;
  border-color: #422479;
  color: #fff; }

.plugin-card-cocart-plugin-search .plugin-card-bottom {
  display: none; }

.cocart-plugin-search__bottom {
  display: flex;
  align-items: center;
  align-content: space-between;
  clear: both;
  padding: 12px 20px;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  overflow: hidden; }

.cocart-plugin-search__text {
  flex: 1;
  margin: 0 24px 0 16px; }

@media screen and (max-width: 1100px) and (min-width: 782px), (max-width: 480px) {
  .plugin-card-cocart-plugin-search .plugin-action-buttons li {
    display: block; }
  .plugin-card-cocart-plugin-search .plugin-action-buttons li button {
    margin-right: 0; } }
