// Variables
@import '../variables';

body {
	margin: 65px auto 24px;
	box-shadow: none;
	background: #f1f1f1;
	padding: 0;
}

.cocart-logo {
	border: 0;
	margin: 0;
	padding: 0;
	text-align: center;
}

.cocart-setup-wizard {
	text-align: center;

	.hidden {
		display: none;
	}
}

.cocart-setup-wizard-content {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
	padding: 2em;
	margin: 0 0 20px;
	background: $white;
	overflow: hidden;
	zoom: 1;
	text-align: left;

	h1,
	h2,
	h3,
	table {
		margin: 0 0 20px;
		border: 0;
		padding: 0;
		color: #666;
		clear: none;
		font-weight: 500;
	}

	p {
		margin: 20px 0;
		font-size: 1em;
		line-height: 1.75;
		color: #666;
	}

	p:first-of-type {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	table {
		font-size: 1em;
		line-height: 1.75;
		color: #666;
	}

	a {
		color: $cocart;

		&:hover,
		&:focus {
			color: #111;
		}
	}

	.form-table {

		th {
			width: 35%;
			vertical-align: top;
			font-weight: 400;
		}

		td {
			vertical-align: top;

			select,
			input {
				width: 100%;
				box-sizing: border-box;
			}

			input[size] {
				width: auto;
			}

			.description {
				line-height: 1.5;
				display: block;
				margin-top: 0.25em;
				color: #999;
				font-style: italic;
			}

			.input-checkbox,
			.input-radio {
				width: auto;
				box-sizing: inherit;
				padding: inherit;
				margin: 0 0.5em 0 0;
				box-shadow: none;
			}
		}

		th,
		td {
			padding: 12px 0;
			margin: 0;
			border: 0;

			&:first-child {
				padding-right: 1em;
			}
		}
	}

	@media screen and (max-width: 782px) {

		.form-table {

			tbody {

				th {
					width: auto;
				}
			}
		}
	}

	.tweet-share {
		margin-bottom: 2.8em;

		.twitter-share-button {
			float: right;
		}
	}

	.cocart-setup-wizard-next-steps {
		overflow: hidden;
		margin: 0 0 24px;
		padding-bottom: 2px;

		h2 {
			margin-bottom: 12px;
		}

		ul {
			padding: 0 2em 0 0;
			list-style: none outside;
			margin: 0;

			li a {
				display: block;
				padding: 0 0 0.75em;
			}

			li a::before {
				color: #82878c;
				font: 400 20px/1 dashicons; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
				speak: none;
				display: inline-block;
				padding: 0 10px 0 0;
				top: 1px;
				position: relative;
				text-decoration: none !important;
				vertical-align: top;
			}
		}
	}

	.cocart-newsletter {
		padding: 24px 24px 0;
		margin: 0 0 24px;
		overflow: hidden;
		background: #f5f5f5;
		clear: both;

		p {
			padding: 0;
			margin: 0 0 12px;
		}

		form,
		p:last-child {
			margin: 0 0 24px;
		}
	}
}

.cocart-setup-wizard-steps {
	padding: 0 0 24px;
	margin: 0;
	list-style: none outside;
	overflow: hidden;
	color: #ccc;
	width: 100%;
	display: inline-flex;

	li {
		width: 100%;
		float: left;
		padding: 0 0 0.8em;
		margin: 0;
		text-align: center;
		position: relative;
		border-bottom: 4px solid #ccc;
		line-height: 1.4;

		a {
			color: $cocart;
			text-decoration: none;
			padding: 1.5em;
			margin: -1.5em;
			position: relative;
			z-index: 1;

			&:hover,
			&:focus {
				color: #111;
				text-decoration: underline;
			}
		}
	}

	li::before {
		content: '';
		border: 4px solid #ccc;
		border-radius: 100%;
		width: 4px;
		height: 4px;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -6px;
		margin-bottom: -8px;
		background: $white;
	}

	li.active {
		border-color: $cocart;
		color: $cocart;
		font-weight: 700;

		&::before {
			border-color: $cocart;
		}
	}

	li.done {
		border-color: $cocart;
		color: $cocart;

		&::before {
			border-color: $cocart;
			background: $cocart;
		}
	}
}

.cocart-setup-wizard .cocart-setup-wizard-actions {
	overflow: hidden;
	margin: 20px 0 0;
	position: relative;

	.button {
		font-weight: 300;
		font-size: 16px;
		padding: 1em 2em;
		box-shadow: none;
		min-width: 12em;
		margin-top: 10px;
		line-height: 1;
		margin-right: 0.5em;
		margin-bottom: 2px;
		height: auto;
		border-radius: 4px;
	
		&:focus,
		&:hover,
		&:active {
			box-shadow: none;
		}

		&.button-primary {
			margin: 0;
			opacity: 1;
		}
	}
}

.cocart-setup-wizard-footer-links {
	font-size: 0.85em;
	color: #7b7b7b;
	margin: 1.18em auto;
	display: flow-root;
	text-align: center;
}

.hide {
	display: none;
}

.step {
	text-align: center;
}

label {
	color: #666;
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 0.5em;
	margin-top: 0.85em;
	display: inline-block;
}

.select-input {
	border: 1px solid #aaa;
	border-color: #ddd;
	border-radius: 4px;
	height: 30px;
	width: calc(100% - 8px - 8px - 2px);
	padding-left: 8px;
	padding-right: 8px;
	font-size: 16px;
	color: #444;
	background-color: $white;
	display: block;

	&.dropdown {
		width: 100%;
		max-width: 100%;
	}
}

.newsletter-form-container {
	display: flex;

	.newsletter-form-email {
		border: 1px solid #aaa;
		border-color: #ddd;
		border-radius: 4px;
		height: 42px;
		padding: 0 8px;
		font-size: 16px;
		color: #666;
		background-color: $white;
		display: inline-block;
		margin-right: 6px;
		flex-grow: 1;
	}

	.newsletter-form-button-container {
		flex-grow: 0;
	}
}

.cocart-setup-wizard .cocart-setup-wizard-actions .button.newsletter-form-button {
	height: 42px;
	padding: 0 1em;
	margin: 0;
}

.cocart-setup-wizard-next-steps {
	border: 1px solid #eee;
	border-radius: 4px;
	list-style: none;
	padding: 0;

	li {
		padding: 0;
	}

	.cocart-setup-wizard-next-step-item {
		display: flex;
		border-top: 1px solid #eee;

		&:first-child {
			border-top: 0;
		}
	}

	.cocart-setup-wizard-next-step-description {
		flex-grow: 1;
		margin: 1.5em;
	}

	.cocart-setup-wizard-next-step-action {
		flex-grow: 0;
		display: flex;
		align-items: center;

		.button {
			margin: 1em 1.5em !important;
		}
	}

	p {

		&.next-step-heading {
			margin: 0;
			font-size: 0.95em;
			font-weight: 400;
			font-variant: all-petite-caps;
		}

		&.next-step-extra-info {
			margin: 0;
		}
	}

	h3 {

		&.next-step-description {
			margin: 0;
			font-size: 16px;
			font-weight: 600;
		}
	}

	.cocart-setup-wizard-additional-steps {
		border-top: 1px solid #eee;

		.cocart-setup-wizard-next-step-description {
			margin-bottom: 0;
		}

		.cocart-setup-wizard-actions {
			margin: 0 0 1.5em;

			.button {
				font-size: 15px;
				margin: 1em 0 1em 1.5em;
			}
		}
	}
}

p.next-steps-help-text {
	color: #9f9f9f;
	padding: 0 2em;
	text-align: center;
	font-size: 0.9em;
}

.cocart-error {
	background: #ffe6e5;
	border-color: #ffc5c2;
	padding: 1em;
	margin-bottom: 1em;

	p {
		margin-top: 0;
		margin-bottom: 0.5em;
		color: #444;
	}

	a {
		color: #ff645c;
	}

	.cocart-setup-wizard-actions .button {
		font-size: 14px;
	}
}

@media only screen and (max-width: 400px) {

	.cocart-logo img {
		max-width: 80%;
	}

	.cocart-setup-wizard-steps {
		display: none;
	}

	.newsletter-form-container {
		display: block;

		.newsletter-form-email {
			display: block;
			box-sizing: border-box;
			width: 100%;
			margin-bottom: 10px;
		}

		.button.newsletter-form-button {
			float: left;
		}
	}

	.cocart-setup-wizard-next-steps .cocart-setup-wizard-next-step-item {
		flex-wrap: wrap;

		.cocart-setup-wizard-next-step-description {
			margin-bottom: 0;
		}

		.cocart-setup-wizard-next-step-action {

			p {
				margin: 0;
			}
		}
	}
}
