// Variables
@use "sass:meta";
@use '../variables';

// Common
@use 'parts/common';

// Admin Notices
@use "parts/notices";

// Engage
@use "parts/engage";

.cocart-setup-wizard {
	text-align: center;

	.hidden {
		display: none;
	}
}

.cocart-content {
	table {
		border: 0;
		clear: none;
		color: variables.$grey;
		font-weight: 500;
		margin: 0 0 20px;
		padding: 0;
	}

	.select-input {
		background-color: variables.$white;
		border: 1px solid #aaa;
		border-color: #ddd;
		border-radius: 4px;
		color: #444;
		display: block;
		font-size: 16px;
		height: 30px;
		padding-left: 8px;
		padding-right: 8px;
		width: calc(100% - 8px - 8px - 2px);

		&.dropdown {
			max-width: 100%;
			width: 100%;
		}
	}

	table {
		color: variables.$grey;
		font-size: 1em;
		line-height: 1.75;
	}

	.form-table {
		th {
			font-weight: 400;
			vertical-align: top;
			width: 35%;
		}

		td {
			vertical-align: top;

			select,
			input {
				width: 100%;
				box-sizing: border-box;
			}

			input[size] {
				width: auto;
			}

			.description {
				line-height: 1.5;
				display: block;
				margin-top: 0.25em;
				color: #999;
				font-style: italic;
			}

			.input-checkbox,
			.input-radio {
				width: auto;
				box-sizing: inherit;
				padding: inherit;
				margin: 0 0.5em 0 0;
				box-shadow: none;
			}
		}

		th,
		td {
			padding: 12px 0;
			margin: 0;
			border: 0;

			&:first-child {
				padding-right: 1em;
			}
		}
	}

	@media screen and (max-width: 782px) {
		.form-table {
			tbody {
				th {
					width: auto;
				}
			}
		}
	}
}

.cocart-setup-wizard-steps {
	padding: 0 0 24px;
	margin: 0;
	list-style: none outside;
	overflow: hidden;
	color: #ccc;
	width: 100%;
	display: inline-flex;

	li {
		width: 100%;
		float: left;
		padding: 0 0 0.8em;
		margin: 0;
		text-align: center;
		position: relative;
		border-bottom: 4px solid #ccc;
		line-height: 1.4;

		a {
			color: variables.$cocart;
			text-decoration: none;
			padding: 1.5em;
			margin: -1.5em;
			position: relative;
			z-index: 1;

			&:hover,
			&:focus {
				color: variables.$shadow;
				text-decoration: underline;
			}
		}
	}

	li::before {
		content: '';
		border: 4px solid #ccc;
		border-radius: 100%;
		width: 4px;
		height: 4px;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -6px;
		margin-bottom: -8px;
		background: variables.$white;
	}

	li.active {
		border-color: variables.$cocart;
		color: variables.$cocart;
		font-weight: 700;

		&::before {
			border-color: variables.$cocart;
		}
	}

	li.done {
		border-color: variables.$cocart;
		color: variables.$cocart;

		&::before {
			border-color: variables.$cocart;
			background: variables.$cocart;
		}
	}
}

@media only screen and (max-width: 400px) {
	.cocart-setup-wizard-steps {
		display: none;
	}
}

.cocart-setup-wizard .cocart-actions {
	overflow: hidden;
	margin: 20px 0 0;
	position: relative;
}

.cocart-setup-wizard-footer-links {
	font-size: 0.85em;
	color: #7b7b7b;
	margin: 1.18em auto;
	display: flow-root;
	text-align: center;
}

.step {
	text-align: center;
}

.cocart-error {
	background: #ffe6e5;
	border-color: #ffc5c2;
	padding: 1em;
	margin-bottom: 1em;

	p {
		margin-top: 0;
		margin-bottom: 0.5em;
		color: #444;
	}

	a {
		color: #ff645c;
	}

	.cocart-actions .button {
		font-size: 14px;
	}
}