.cocart {
	.container {
		background-color: $white;
		border: 1px solid $lightgrey;
		box-shadow: 0 2px 30px $shadow;
		-webkit-box-shadow: 0 2px 30px $shadow;
		color: $black;
		margin: 20px auto 80px;
		max-width: 692px;
		text-align: left;
		width: calc(100% - 20px);

		.content {
			padding: 40px;

			.logo {
				background-color: $cocart;
				margin: -40px -40px 30px;
				text-align: center;
			}

			h1 {
				color: #23282d;
				font-size: 1.7em;
				font-weight: 700;
				line-height: 1.48;
				margin-bottom: 28px;
				margin-top: 0;
			}

			p {
				color: #333;
				font-size: 16px;
				font-weight: 400;
				line-height: 1.6;
				margin-bottom: 20px;
			}

			ul {
				list-style: disc;
			}

			li {
				margin-left: 12px;
			}

			a.button.button-large,
			button.button-large {
				font-size: 24px;
				line-height: 54px;
				height: 60px;
				padding: 0 20px;
			}
		}
	}
}
