.notice {

	&.inline.notice-cocart {
		border-color: $cocart;

		p.cart::before {
			color: $cocart;
			content: '\f174';
			display: inline-block;
			font: normal 20px/1 'dashicons';
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			vertical-align: top;
		}
	}

	&.cocart-notice {
		border-color: $cocart;
		padding: 20px;
	}

	&.cocart-notice {
		.no-thanks {
			display: block;
			margin-top: 10px;

			a {
				color: #72777c;
				text-decoration: none;
			}

			a:hover {
				color: #444;
			}
		}

		p {
			padding: 0;
			margin: 0;
		}

		h3 {
			margin: 0 0 5px;
		}

		.cocart-action {
			float: right;
			text-align: center;
		}

		.cocart-action .cocart-button {
			height: auto;
			line-height: 20px;
			padding: 6px 50px;
		}

		.cocart-notice-inner {
			display: table;
			width: 100%;

			.cocart-notice-icon,
			.cocart-notice-content,
			.cocart-review-now,
			.cocart-send-feedback {
				display: table-cell;
				vertical-align: middle;
			}
		}

		.cocart-notice-content {
			padding: 0 6% 0 20px;
		}
	}

	.cocart-notice-icon {
		color: #509ed2;
		font-size: 50px;
		width: 60px;

		img {
			font-size: 0;
			width: 64px;
		}
	}
}

body.cocart .notice,
body.cocart .updated,
body.cocart .error {
	display: none;
}

@media (max-width: 767px) {
	.notice.cocart-notice .cocart-notice-inner {
		display: block;
	}

	.notice.cocart-notice {
		padding: 20px !important;
	}

	.notice.cocart-notice .cocart-notice-inner .cocart-notice-content {
		display: block;
		padding: 0;
	}

	.notice.cocart-notice .cocart-notice-inner .cocart-notice-icon {
		display: none;
	}

	.notice.cocart-notice .cocart-notice-inner .cocart-action {
		margin-top: 20px;
		display: block;
		text-align: left;
	}

	.notice.cocart-notice .cocart-notice-inner .no-thanks {
		display: inline-block;
		margin-left: 15px;
	}
}
